<!DOCTYPE html>
<html class="relative">
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
 	<link href="{:CSS}common.css" rel="stylesheet" />
    <link href="{:CSS}style.css" rel="stylesheet" />
 	<title>{:C('site_name')}</title>
</head>
<body class="bg_c_e pb_66">
 	<div class="forum_head b_b1">
	 	<span class="icon_img icon_arrow_left"></span>
	 	<div class="hr_forum fl"></div>
	 	<p class="fl">互动游戏</p>
	 	<a id="index_icon" data-url="{:U('Index/index')}"><span class="icon_home_index fr"></span></a>
 	</div>
 	<div class="community_game_title">
 		<div class="community_game_img"><img src="{:IMG}game_title_one.png"></div>
 		<div class="community_game_text">
 			<p class="fl">2016年疯狂抢红包</p>
 			<button>未开始</button>
 		</div>
 	</div>
 	<div class="community_game_title">
 		<div class="community_game_img"><img src="{:IMG}game_title_two.png"></div>
 		<div class="community_game_text">
 			<p class="fl">2016年疯狂抢红包</p>
 			<button>未开始</button>
 		</div>
 	</div>
 	<!-- <a href="http://www.weilt.net/html/weilaotou/" style="width:30%;margin-left:35%"><div class="copyright fl mb30 absolute_b0"></div></a> -->
 	<script type="text/javascript" src="{:JQ}"></script>
 	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	{$shareJs}
	<script>
		// 首页跳转
	    $('#index_icon').click(function(){
	        location.href = $(this).data('url');
	    })
	</script>
</body>
</html>