<style>
.fcenter{text-align:center;}
.hread_p{text-align: center; line-height: 50px;}
.fshowd{text-indent: 20px;}
.f_underline{text-decoration: underline;}
.fr{float: right;}
.f_right{width: 100%;text-align: right;}
img{width:100%;}
.fl{float: left;}
</style>
<h3 class="hread_p">住宅装饰装修服务管理协议</h3>
<p>甲方：安徽伟星物业管理有限公司______物业管理处</p>
<p>乙方：（业主/使用人）</p>
<p>丙方：（装修施工单位）</p>
<p>为加强本小区房屋装饰装修工程的管理，确保物业安全、合理使用，房屋的外观和结构不受损坏，以维护全体业主的共同权益，根据建设部《住宅室内装饰装修管理办法》和本小区《住宅装饰装修管理办法》的有关规定，经甲、乙、丙三方充分协商，订立如下装饰装修管理服务协议：</p>
<p>一、装修住宅：_____幢____单元___室</p>
<p>二、装修内容：1、________________</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、________________</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、________________</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、________________</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、________________</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、________________</p>
<p>三、施工及材料进场时间：</p>
<p>1、装修起讫时间：____年 ___月 ___日至___年___月 ____日</p>
<p>2、装修施工时间：夏令时   平日   <span style="text-decoration: underline;">7：00~20：00  </span>、节假日  <span class="f_underline"> 8：00~19：00 </span></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;冬令时   平日  <span class="f_underline"> 8：00~19：00 </span> 、节假日   <span class="f_underline">8：00~18：30</span> </p>
<p>3、材料进场时间：<span class="f_underline"> &nbsp;&nbsp;&nbsp;8：30－11：00 &nbsp;&nbsp;&nbsp;&nbsp;14：30－17：00 &nbsp;&nbsp;&nbsp;</span></p>
<p>四、装修垃圾清运时间：<span class="f_underline"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16：00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
<p>装修垃圾堆放地点：<span class="f_underline"> &nbsp;&nbsp;&nbsp;&nbsp;按管理处指定位置堆放（袋装扎口）&nbsp;&nbsp;</span></p>
<p>五、双方权利义务：</p>
<p>（一）甲方权利义务</p>
<p>甲方根据国家建设部《住宅室内装饰装修管理办法》有关规定，负责制定《本小区住宅装饰装修管理办法》并监督实施。</p>
<p>有权对乙方的装修过程进行监督检查，并有权制止乙方或乙方聘请的装修施工人员的违规行为；乙方或乙方聘请的施工人员必须服从甲方的管理。</p>
<p>乙方或乙方聘请的装修施工单位违反本小区《住宅装饰装修管理办法》或政府部门相关规定的行为，经劝阻无效，甲方有义务向政府部门反映，由政府部门实施处罚。</p>
<p>在乙方或乙方聘请的装修施工单位装饰装修完工时，对涉及该房屋共用部位和公用设施、设备进行勘察，如发现损坏，乙方或乙方聘请的装修施工单位应及时整改。</p>
<p>一、乙、丙方权利义务</p>
<p>乙方装修前需按照本小区《住宅装饰装修管理办法》及政府部门相关规定，办理装修审批备案手续，聘请有资质的企业承担装修工程，并严格按照《装修进场证》批准的范围进行装修。</p>
<p>乙方在装修前应详细阅读本小区《住宅装饰装修管理办法》中规定的装修注意事项及禁止行为，并告知丙方，对其违章行为负连带责任。</p>
<p>乙方应严格遵守甲方对外立面的管理要求，不擅自改变外立面，不擅自安装防盗栅栏，不封闭阳台等。</p>
<p>丙方装修期间应为其施工人员办理小区出入证，一人一证，进出小区自觉向门岗值勤人员出示，接受相关检查，待装修结束后交回服务中心。对于以任何理由为借口，拒绝向门岗人员出示该证件的丙方人员，甲方有权利拒绝其进入。</p>
<p>丙方应严格遵守小区装修施工时间的规定，不在中午12：00~14：00及傍晚17：30~20：00从事敲、凿、刨、钻等影响休息的装修活动。另为维护小区公共环境及秩序的有序、统一，非小区正常装修施工时间，丙方人员一律不得进入园区。</p>
<p>装修工程完毕后，丙方应负责将周边环境清理干净，并到物业管理处办理离场手续。</p>
<p>根据建设部110号令《室内装饰装修管理办法》和第三十四条规定“装修人因住宅室内装饰装修活动侵占公共部位，对公共部位和设施造成损害的，由城市房地产行政主管部门责令改正，造成损失的，依法承担赔偿责任”，鉴于住宅装修过程中各类装修活动对各公共部位，尤其是单元楼道、墙面等存在不同程度损伤、损害的不可避免性，依据此款规定，装修工程完毕后，乙方（自行完成或督促丙方负责完成）（二选一）：</p>
<p>□自行对单元楼道墙面、设施进行妥善修整、维护；</p>
<p>□委托甲方代为对上述部位进行维护、处理，由此产生的相关费用由委托方承担。具体数额依据实际情况届时另行计算、支付。</p>	
<p>六、相关费用及说明</p>
<p>乙方办理装修手续时，按规定缴纳装修垃圾清运费        元，乙方与丙方约定由丙方承担的，从其约定。另依据《芜湖市物业服务收费管理实施办法》（芜价经费[2009]132号）关于拆除墙体建筑垃圾清运费由业主和物业公司另行约定。</p>
<p>七、违约责任</p>
<p>丙方违反本小区《住宅装饰装修管理办法》，给乙方或小区造成损失的，应予赔偿。</p>
<p>丙方未按本合同约定时间、处置方法清理装运垃圾的，一经发现，限期对违规垃圾进行妥善处理。</p>
<p>高层住宅装修，丙方违章使用电梯，造成电梯及其他设施设备受损的，其全部维修及赔偿责任由丙方承担。</p>
<p>丙方违反相关管理规定进行违规装修的，丙方向应按物业管理处要求限期给予妥善整改。连续两次以上的，物业管理处有权暂停其施工直至整改完毕。情节特别恶劣的，物业管理处将依法向政府相关部门进行举报，并在小区明显位置对丙方相应违规装修行为进行公告。</p>
<p>丙方人员违反小区公共管理制度，在园区内发生偷盗、打架斗殴等不良行为的，甲方有权依法向治安主管部门进行举报，由此造成人员、财产损失、损害的，丙方应负责妥善赔偿，连续两次以上（含两次）的，甲方有权要求丙方对人员给予撤换，禁止其再次进入园区施工。</p>
<p>丙方人员、车辆违反小区进出管理规定的；未按本合同规定使用出入证的；施工时间不符合本合同规定且不听甲方劝阻的，甲方有权拒绝其进入园区。</p>
<p>乙、丙方违反本小区《住宅装饰装修管理办法》或政府部门相关规定，造成园区或相邻物业损失的，一切损失由乙方承担或乙方负责向丙方追偿。</p>
<p>八、其他事项</p>
<p>本小区《住宅装饰装修管理办法》为本协议的有效组成部分，甲、乙、丙方共同遵守。</p>
<p>本协议一式三份，甲、乙、丙各执一份，未尽事宜由三方协商解决。</p>
<h3 class="hread_p">安徽伟星物业管理有限公司房屋室内装饰装修备案表</h3>
<img src="{:IMG}biao1.png">
<h3 class="hread_p">安徽伟星物业管理有限公司房屋装饰装修进场前交验表</h3>
<img src="{:IMG}biao2.png">
<h3 class="hread_p">安徽伟星物业管理有限公司消防安全责任书</h3>
<p>根据《中华人民共和国消防法》和《消防管理规定》的规定，为确保区域不发生火险隐患，特制定业主消防安全责任书，并确定业主为所在 ________小区_____幢 ____单元____室当然防火责任人，其责任如下：</p>
<p>二、认真贯彻执行《中华人民共和国消防法》和《消防管理规定》等消防法规及条款。</p>
<p>三、防火责任人有义务教育住宅使用人树立防火意识，随时做到使用完电器、燃气用具后的开关（阀门）要关闭，使用过程中要有人看管、检查。</p>
<p>四、不得在楼道车库堆放可燃物品，不得在园区燃放烟花炮竹，不得堵塞消防通道，不得有影响消防安全的其他行为。</p>
<p>五、学习消防知识，学会使用消防器材，掌握逃生自救能力。</p>
<p>六、爱护消防器材和设施，主动配合有关消防监督机关和物业管理处对本单元消防工作的检查、监督。</p>
<p>七、有义务参与消防主管部门和管理处组织的消防演习及宣传活动。</p>
<p>八、有责任保护火灾事故现场，协助管理处和消防机关调查火灾原因。</p>
<p>九、具有国家规定的有关防火责任人所应有的权力、义务和承担相应的法律责任。</p>
<p>十、为保证本责任书的有效执行，对发现有违反上述条款造成火险或存在火险隐患等情况，将追究责任人或按《消防管理规定》予以处理和处罚；本责任书签字之日起生效，更换责任人则另行签订消防安全责任书，更换责任人未重新签订责任书的，其产权人承担当然责任人责任。</p>
<p>十一、本责任书一式两份，双方各执一份，具有同等法律效力。</p>
<p>责任单元：___号楼 ____单元____室  </p>
<p>责 任 人：</p>
<p>电    话： </p>
<p class="f_right">物业管理处（盖章）</p>
<p class="f_right">___年___月___日  </p>
<p class="fl">【特别提示】您在申请流程中点击同意前，应当认真阅读以上协议。提交即表示您已充分阅读、理解并接受协议的全部内容。如果您不同意相关协议或其中任何条款约定，您应立即停止申请程序。</p>