<!doctype html>
<html lang="zh" class="relative" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link rel="stylesheet" type="text/css" href="{:CSS}common.css" media="all">
<link rel="stylesheet" type="text/css" href="{:CSS}css.css" />
<title>{:C('site_name')}</title>
</head>
<body>
<div class="orders pb_66"> 
	<div class="top clearfix">
        <a href="javascript:history.go(-1);" class="return"></a>
        我的订单 <a id="index_icon" data-url="{:U('Index/index')}"><span class="icon_home_index fr"></span></a>
    </div>
    <div class="status"> 
        <switch name='info.status'>
            <case value='0'><p class="p_red"> 订单状态：<span>未付款</span> </p> </case>
            <case value='1'><p class="p_red"> 订单状态：<span>未付款</span> </p> </case>
            <case value='2'><p class="p_green"> 订单状态：<span>快递派送中···</span> </p> </case>
            <case value='3'><p class="p_green"> 订单状态：<span>快递派送中···</span> </p> </case>
            <case value='4'><p class="p_gery"> 订单状态：<span>已收货</span></p> </case>
            <case value='5'><p class="p_gery"> 订单状态：<span>已完成</span></p> </case>
        </switch>
    </div>
    <div class="form_list mt10">
    	<ul>
        	<li class="plr_10"><span class="name">收货人</span><span>{$info.name}</span></li>
            <li><span class="name">联系方式</span><span>{$info.phone}</span></li>
            <li><span class="name">收货地址</span><span><if condition='($info.address eq "")'>{$Think.session.fansInfo.address}<else/>{$info.address}</if></span></li>
        </ul>
    </div>
    <div class="fix">
        <eq name='info.status' value='5'>
            <div class="evaluate pb_66">
                <div class="cont">
                    <ul>
                        <li class="line"><label>特惠评价</label><span>{$info.comment.desc}</span></li>
                        <li><label>评分</label>
                            <div id="starBox">
                                <ul class="star" id="">
                                    <li><a href="javascript:void(0)" title="1" class="one-star">1</a></li>
                                    <li><a href="javascript:void(0)" title="2" class="two-stars">2</a></li>
                                    <li><a href="javascript:void(0)" title="3" class="three-stars">3</a></li>
                                    <li><a href="javascript:void(0)" title="4" class="four-stars">4</a></li>
                                    <li><a href="javascript:void(0)" title="5" class="five-stars">5</a></li>
                                </ul>
                                <div class="current-rating" style='width:<?php echo 24*$info["comment"]["score"]; ?>px;'></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        <else />
            <div class="evaluate pb_66">
                <div class="cont">
                    <ul>
                        <li class="line"><label>特惠评价</label><textarea name="desc" placeholder='写上你对这次产品的评价'></textarea></li>
                        <li><label>评分</label>
                            <div id="starBox">
                                <ul class="star" id="star">
                                    <li><a href="javascript:void(0)" title="1" class="one-star">1</a></li>
                                    <li><a href="javascript:void(0)" title="2" class="two-stars">2</a></li>
                                    <li><a href="javascript:void(0)" title="3" class="three-stars">3</a></li>
                                    <li><a href="javascript:void(0)" title="4" class="four-stars">4</a></li>
                                    <li><a href="javascript:void(0)" title="5" class="five-stars">5</a></li>
                                </ul>
                                <div class="current-rating" id="showb" data-id='5'></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div><button type="submit" class="post comment"> 评价 </button></div>
            </div>
        </eq>
    </div>
</div>
<script type="text/javascript" src="{:JQ}"></script>
<script type="text/javascript" src="{:JS}common.min.js"></script>
<script type="text/javascript" src="{:JS}jquery.star.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
{$shareJs}
<script>
    $(function(){
        var id = '{$_GET["id"]}';
        $('.comment').click(function(){
            var desc = $('textarea[name="desc"]').val();
            var score = $('#showb').data('id');
            var flag=true;
            if(flag){
                // waiting();
                 flag=false;
                //console.log(score);
                if(desc!=''){
                	waiting();
                    $.post('{:U("Preferential/comment")}', {id: id, desc: desc, score:score}, function(data){
                        flag=true;complete();
                        complete();
                        if(data.status == 5){
                            showInfo(data.info, 1,function(){
                                window.location.reload();
                            }); 
                        };
                    });
                }else{showInfo('请输入内容!');};
        };
        });
    })
    // 首页跳转
    $('#index_icon').click(function(){
        location.href = $(this).data('url');
    })
</script>
</body>
</html>