<!DOCTYPE html>
 <html class="relative">
 <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link href="{:CSS}common.css" rel="stylesheet" />
<link href="{:CSS}style.css" rel="stylesheet" />
<title>{:C('site_name')}</title>
 </head>
 <body class="bg_c_e pb_66">
    <div class="head_title_login"><eq name='Think.get.type' value='1'>我是业主<else />我是亲友／租客</eq></div>
    <div class="fix_form">
        <form>
            <div class="info_text">
           		<ul>
           			<li class="b_b1"><label class="mr_30">姓名</label><input name="name" type="text" placeholder="请输入真实姓名"></li>
           			<li class="b_b1"><label class="mr_30">手机</label><input name="phone" type="text" placeholder="请输入你的手机号"></li>
           			<li>
                        <label class="mr_12">验证码</label>
                        <input name="verify" type="text" placeholder="请输入验证码">
                        <button type="button" class="verification_button">获取验证码</button>
                    </li>
           		</ul>
            </div>
            <div class="info_text" id="info_text">
                <ul>
                    <li class="b_b1" data-id='0'>
                        <label class="mr_30 fl">小区</label>
                        <div class="choice_admin">
                            <div class="choice_case fl" data-id="0">选择你所在的小区</div>
                            <span class="icon_img icon_angle_bottom fr"></span>
                        </div>
                    </li>
                    <li class="b_b1" data-id='1'>
                        <label class="mr_30 fl">楼栋</label>
                        <div class="choice_admin">
                            <div class="choice_case fl">选择你所在的楼栋号</div>
                            <span class="icon_img icon_angle_bottom fr"></span>
                        </div>
                    </li>
                    <li class="b_b1" data-id='2'>
                        <label class="mr_30 fl">单元</label>
                        <div class="choice_admin">
                            <div class="choice_case fl">选择你所在的单元</div>
                            <span class="icon_img icon_angle_bottom fr"></span>
                        </div>
                    </li>
                    <li data-id='3'>
                        <label class="mr_30 fl">房号</label>
                        <div class="choice_admin">
                            <div class="choice_case fl">选择你所在的房号</div>
                            <span class="icon_img icon_angle_bottom fr"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-budget" >
	            <ul class="list-budget-text" data-id='0' style="display:none">
	            	<li data-id="0">选择你所在的小区</li>
	            	<volist name="areaList" id="areaList">
	            	    <li data-id="{$areaList.id}">{$areaList.name}</li>
	            	</volist>
	            </ul>
	            <ul class="list-budget-text" data-id='1' style="display:none"><li>选择你所在的楼栋号</li></ul>
	            <ul class="list-budget-text" data-id='2' style="display:none"><li>选择你所在的单元</li></ul>
	            <ul class="list-budget-text" data-id='3' style="display:none"><li>选择你所在的房号</li></ul>
            </div>
            <eq name='Think.get.type' value='2'>
	            <div class="info_text">
	           		<ul>
	           			<li class="b_b1"><label class="mr_30">业主手机</label><input name="ownerphone" type="text" placeholder="输入业主手机号"></li>
	           		</ul>
	            </div>
            </eq>
            <div class="list-budget-bg" style="display:none" ></div> 
            <div class="mt_30"><button type="submit" class="post bg_c_g"> 提交 </button></div>
            <div class="mt_10 return_index"><a href="{:U('Public/index')}">返回首页</a></div>
            <input type="hidden" name="aid" value="" placeholder="请选择你所在的小区" class="hide_input">
            <input type="hidden" name="bid" value="" placeholder="请选择你所在的楼栋号" class="hide_input">
            <input type="hidden" name="uid" value="" placeholder="请选择你所在的单元" class="hide_input">
            <input type="hidden" name="rid" value="" placeholder="请选择你所在的房号" class="hide_input">
            <input type="hidden" name="b_name" placeholder="请选择你所在的楼栋号" class='hide_input1'>
            <input type="hidden" name="u_name" placeholder="请选择你所在的单元" class='hide_input2'>
            <input type="hidden" name="r_name" placeholder="请选择你所在的房号" class='hide_input3'>
            <input type="hidden" name="type" value='{$_GET["type"]}'>
        </form>
    </div>
    <div id='verifyCode' style='display:none; width:100%; height:100%; position:fixed; top:0%; left:0%; background:rgba(0,0,0,0.5);z-index:100;'>
	    <div class="box" style="width:300px; margin:0px auto; position:relative; top:20%;">
			<script async type="text/javascript" src="http://api.geetest.com/get.php?gt=3d2872e7d392beffb1ac5be5a1f8e310&mobile=1&width=300"></script>
	    </div>
	</div>
    <script type="text/javascript" src="{:JQ}"></script>
    <script type="text/javascript" src="{:JS}common.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	{$shareJs}
    <script type="text/javascript">
    $(function(){
        //显示可选择项
        $("#info_text li").click(function(){
        	$('.list-budget ul').hide();
        	$('.list-budget ul').eq($(this).data('id')).show();
            $('.list-budget-bg').show();
        });
        //点击空白处隐藏选择项
        $(".list-budget-bg").click(function(){
            $(this).hide(); $('.list-budget ul').hide();
        });
        //选择某项并获取下级项
        $('.list-budget-text').on('click', 'li', function(){
            var d_id = $(this).parent().data('id');
            $('.choice_case:eq(' + d_id + ')').html($(this).html());
            $('.hide_input:eq(' + d_id + ')').val($(this).data('id'));
            $('.hide_input'+d_id).val($(this).html());
            $('.list-budget-text li').attr('class', 'bg_c_f');
            $(this).attr('class', 'bg_c_g');
            $(".list-budget-bg,.list-budget ul").hide();
            if(d_id < 3){
            	if($(this).data('id')> 0){
		            waiting();
		            console.log($(this).data('id'));
		            $.get('{:U("Public/getAreaInfo")}', {d_id: d_id, id: $(this).data('id'), bid: $('input[name="bid"]').val(), type : $('input[name="type"]').val()}, function(data){
		                complete(); var html = '';
		                switch(d_id){
		                	case 0 : html += '<li data-id="0">选择你所在的楼栋号</li>'; break;
		                	case 1 : html += '<li data-id="0">选择你所在的单元</li>'; break;
		                	case 2 : html += '<li data-id="0">选择你所在的房号</li>'; break;
		                }
		                $(data).each(function(i, v){
		                    html += '<li data-id="' + v.id + '">' + v.name + '</li>';
		                });
		                $('.list-budget ul').eq(d_id + 1).html(html);
	                });
	                //重置选择框
	                if(d_id == 0){
	                    $('.choice_case:eq(1)').html('选择你所在的楼栋号'); $('.choice_case:eq(2)').html('选择你所在的单元'); $('.choice_case:eq(3)').html('选择你所在的房号');
	                	$('.list-budget-text:eq(1)').html('<li>选择你所在的楼栋号</li>'); $('.list-budget-text:eq(2)').html('<li>选择你所在的单元</li>'); $('.list-budget-text:eq(3)').html('<li>选择你所在的房号</li>');
	                	$('input[name="bid"],input[name="uid"],input[name="rid",input[name="b_name"],input[name="u_name"],input[name="r_name"]').val('');
	                }else　if(d_id == 1){
	                	$('.choice_case:eq(2)').html('选择你所在的单元'); $('.choice_case:eq(3)').html('选择你所在的房号');
	                    $('.list-budget-text:eq(2)').html('<li>选择你所在的单元</li>'); $('.list-budget-text:eq(3)').html('<li>选择你所在的房号</li>');
	                	$('input[name="uid"],input[name="rid"],input[name="u_name"],input[name="r_name"]').val('');
	                }else if(d_id == 2){
	                	$('.choice_case:eq(3)').html('选择你所在的房号');
	                    $('.list-budget-text:eq(3)').html('<li>选择你所在的房号</li>');
	                	$('input[name="rid"],input[name="r_name"]').val('');
	                }
            	}
            }
        });
        //获取手机验证码
        var flag = true, verify_status = true;
        $('.verification_button').click(function(){
            var obj = $(this), phone = $('input[name="phone"]').val();
            if(/^1[3-8]\d{9}$/.test(phone)){
                if(verify_status){
        			waiting();verify_status = false;
                    $.post('{:U("Public/getVerifyCode")}', {phone : phone, type : 1}, function(data){
                        complete();
                        if(data.status == 1){
                            obj.html('60s重新获取');
                            waitTime = 60;
                            var interval = setInterval(function(){
                                if(waitTime > 1){
                                    waitTime--; obj.html(waitTime + 's重新获取');
                                }else{
                                    obj.html('获取验证码'); clearInterval(interval); verify_status = true;
                                }
                            }, 1000);
                        }else{
                            showInfo(data.info); verify_status = true;
                        }
                    });
                }
            }else{
                showInfo('请输入正确的手机号');
            }
        });
        window.gt_custom_ajax = function(result, id, message){
    		if (result) {
    			$('#verifyCode').hide();
    			waiting(); var obj = $('.verification_button');
                $.post('{:U("Public/getVerifyCode")}', {phone : $('input[name="phone"]').val()}, function(data){
                    complete();
                    if(data.status == 1){
                        obj.html('60s重新获取');
                        waitTime = 60;
                        var interval = setInterval(function(){
                            if(waitTime > 1){
                                waitTime--; obj.html(waitTime + 's重新获取');
                            }else{
                                obj.html('获取验证码'); clearInterval(interval); verify_status = true;
                            }
                        }, 1000);
                    }else{
                        showInfo(data.info); verify_status = true;
                    }
                });
    		}else{
    			verify_status = true;
    		}
        }
        //表单提交
        $('form').submit(function(){
            var flag = true;
            $('form').find('input').each(function(i, v){
                if($(v).val() == ''){
                    flag = false; showInfo($(v).attr('placeholder')); return false;
                }
            });
            if(flag){
                waiting();
                $.post('{:U("Public/regedit")}', $('form').serialize(), function(data){
                    complete();showInfo(data.info, 1,function(){
	                    if(data.status == 2){
	                    	location.href = '/Wap/Index/index?reg=success';
	                    }else　if(data.status == 1){
                            location.href = '/Wap/Public/index';
                        }
                    });
                });
            }
            return false;
        });
    });
    </script>
 </body>
 </html>