<!doctype html>
<html lang="zh" class="relative">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<title>{:C('site_name')}</title>
<link rel="stylesheet" type="text/css" href="{:CSS}common.css" media="all">
<link rel="stylesheet" type="text/css" href="{:CSS}css.css" />
<link rel="stylesheet" type="text/css" href="{:CSS}style.css" />
</head>
<body>
<div class="rental pb_66"> 
	<div class="top clearfix">
        <a href="javascript:history.go(-1);" class="return"></a>星房推荐<a id="index_icon" data-url="{:U('Index/index')}">
            <span class="icon_home_index fr"></span>
        </a>
    </div>
    <div class="rental_index clearfix">
        <volist name='list' id='list' >
            <ul>
                <a href="{:U('Recommend/detail?id='.$list['id'])}">
                    <img src="{$list.pic}?imageView2/1/w/320"/>
                    <li class="tit">{$list.name}</li>
                    <li class="address">{$list.area}</li>
                </a>
            </ul>
        </volist>
    </div>
    {$page}
</div>
<!--版权-->

<script type="text/javascript" src="{:JQ}"></script>
<script type="text/javascript" src="{:JS}common.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
{$shareJs}
<script type="text/javascript">
  // 首页跳转
$('#index_icon').click(function(){
    location.href = $(this).data('url');
})
</script>
</body>
</html>