<div class="row"> 
	<h3 class="page-header">业主管理&nbsp;&nbsp;<small><gt name='info.id' value='0'>修改<else/>添加</gt>业主</small></h3>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form role="form" id="myform" method="post"  class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label">业主姓名：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input class="form-control required" name="name" value="{$info.name}" maxlength='30'>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">联系方式：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input class="form-control required mobile" name="phone" value="{$info.phone}" maxlength='11'>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">小区：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<select class="form-control selectReq" id="aid" name="aid">
			        		<option value="0" >请选择小区</option>
			        		<volist name='areaList' id='area'>
			        			<option value="{$area.id}"<eq name='area.id' value='$info.aid'> selected </eq> >{$area.name}</option>
			        		</volist>
						</select>           
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">楼栋号：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<select class="form-control selectReq" id="bid" name="bid">
			        		<option value="0" >请选择楼栋号</option>
						</select>           
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">单元号：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<select class="form-control selectReq" id="uid" name="uid">
			        		<option value="0" >请选择单元号</option>
						</select>           
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">房间号：<span class="c-red">*</span></label>
			        <div class="col-sm-4 rooms">请先依次选择小区、楼栋和单元</div>
			    </div>
			    <div class="form-group">
					<label  class="col-sm-3 control-label">状态：</label>
					<div class="col-sm-4">
			            <label class="radio-inline">
			                <input type="radio" value="0" id="status0" name="status" <elt name="info.status" value="0">checked</elt>>未审核
			            </label>
			            <label class="radio-inline">
			                <input type="radio" value="1"  id="status1" name="status" <eq name="info.status" value="1">checked</eq>>审核通过
			            </label>
			            <label class="radio-inline">
			                <input type="radio" value="2" id="status2" name="status" <eq name="info.status" value="2">checked</eq>>已删除
			            </label>
		            </div>
		        </div>
		       	<div class="form-group">
		            <label class="col-sm-3 control-label">业主信息：</label>
		            <div class="col-sm-4">
		           		<textarea rows="3" class="form-control" name="desc">{$info.desc}</textarea>
		            </div>
		        </div>
		        <div class="form-group">
			        <label class="col-sm-3 control-label">业主积分：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input class="form-control required number" name="point" value="{$info.point|default=0}">
			        </div>
			    </div>
		        <gt name='info.id' value='0'>
			        <input type='hidden' name='id' id="id" value='{$info.id}'>
			        <input type='hidden' name='old_rid' id="old_rid" value='{$info.rid}'>
		       		<input type="hidden" name="old_point" value="{$info.point|default=0}" />
		        </gt>
		        <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
                    	<input type="hidden" name='block_name' value=''/>
                    	<input type="hidden" name='unit_name' value='' />
                    	<input type="hidden" name='room_name' value='' />
				        <button class="btn btn-primary" type="submit">提交</button>
				       	<a href="{:U('Owner/index')}"><button class=" btn btn-default" type="button">返回</button></a>
		       		</div>
		       	</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" >
	$(function(){
		var aid1 = '{$info["aid"]}', bid1 = '{$info["bid"]}', uid1 = '{$info["uid"]}', rid1 = '{$info["rid"]}', id = '{$info["id"]}';
		if(aid1 > 0){
			waiting();
			$.get('{:U("Block/getBlockByAid")}', {aid : aid1}, function(data){
				var html = '<option value="0" >请选择楼栋</option>';
				if(data){
					for(var i = 0; i< data.length; i++){
						if(bid1 == data[i]['id']){
							html += '<option selected value="'+data[i]['id']+'" >'+data[i]['name']+'</option>';
							$('input[name="block_name"]').val(data[i]['name']);
						}else{
							html += '<option value="'+data[i]['id']+'" >'+data[i]['name']+'</option>';
						}
					}
				}else{
					html = '<option value="0" >该小区还没有楼栋</option>';
				}
				$('#bid').html(html);
			});
			$.get('{:U("Unit/getUnitByBid")}', {bid : bid1}, function(data){
				var html = '<option value="0" >请选择单元</option>';
				if(data){
					for(var i = 0; i< data.length; i++){
						if(uid1 == data[i]['id']){
							html += '<option selected value="'+data[i]['id']+'" >'+data[i]['name']+'</option>';
							$('input[name="unit_name"]').val(data[i]['name']);
						}else{
							html += '<option value="'+data[i]['id']+'" >'+data[i]['name']+'</option>';
						}
					}
				}else{
					html = '<option value="0" >该楼栋还没有单元</option>';
				}
				$('#uid').html(html);
			});
			$.get('{:U("Room/getRoomByUid")}', {uid : uid1, bid : bid1}, function(data){
				complete();var html = '';
				if(data){
					for(var i = 0; i< data.length; i++){
						if(rid1 == data[i]['id']){
							$('input[name="room_name"]').val(data[i]['name']);
							html += '<label class="radio-inline"><input type="radio" data-name="'+data[i]['name']+'" checked value="'+data[i]['id']+'" name="rid" >'+data[i]['name']+'</label>';
						}else if(data[i]['oid'] > 0){
							html += '<label class="radio-inline"><input type="radio" data-name="'+data[i]['name']+'" disabled="true" value="'+data[i]['id']+'" name="rid" >'+data[i]['name']+'</label>';
						}else{
							html += '<label class="radio-inline"><input type="radio" data-name="'+data[i]['name']+'" value="'+data[i]['id']+'" name="rid" >'+data[i]['name']+'</label>';
						}
					}
				}else{
					html = '空';
				}
				$('.rooms').html(html);
			});
		}
		$('#aid').change(function(){
			var aid = $(this).val(), html = '<option value="0" >请选择楼栋</option>';
			if(aid > 0){
				waiting();
				$.get('{:U("Block/getBlockByAid")}', {aid : aid}, function(data){
					complete();
					if(data){
						for(var i = 0; i< data.length; i++){
							html += '<option value="'+data[i]['id']+'" >'+data[i]['name']+'</option>';
						}
					}else{
						html = '<option value="0" >该小区还没有楼栋</option>';
					}
					$('#bid').html(html);
					$('#uid').html('<option value="0" >请选择单元</option>');
					$('.rooms').html('');
				});
			}
		});
		$('#bid').change(function(){
			var bid = $(this).val(), html='<option value="0" >请选择单元</option>';
			console.log();
			if(bid > 0){
				waiting();
				$.get('{:U("Unit/getUnitByBid")}', {bid : bid}, function(data){
					complete();
					if(data){
						for(var i = 0; i< data.length; i++){
							html += '<option value="'+data[i]['id']+'" >'+data[i]['name']+'</option>';
						}
					}else{
						html = '<option value="0" >该楼栋还没有单元</option>';
					}
					$('#uid').html(html);
					$('.rooms').html('');
				});
				$('input[name="block_name"]').val($(this).find("option:selected").text());
			}
		});
		$('#uid').change(function(){
			var uid = $(this).val(), html='', bid = $('#bid').val();
			if(uid > 0){
				waiting();
				$.get('{:U("Room/getRoomByUid")}', {uid : uid, bid : bid}, function(data){
					complete();
					if(data){
						for(var i = 0; i< data.length; i++){
							if(data[i]['oid'] > 0){
								html += '<label class="radio-inline"><input type="radio" disabled="true" data-name="'+data[i]['name']+'" value="'+data[i]['id']+'" name="rid" >'+data[i]['name']+'</label>';
							}else{
								html += '<label class="radio-inline"><input type="radio" value="'+data[i]['id']+'" data-name="'+data[i]['name']+'" name="rid" >'+data[i]['name']+'</label>';
							}
						}
					}else{
						html = '空';
					}
					$('.rooms').html(html);
				});
				$('input[name="unit_name"]').val($(this).find("option:selected").text());
			}
		});
		$('.rooms').change(function(){
			$('input[name="room_name"]').val($('input[name="rid"]:checked').data('name'));
		});
	});
</script>