<div class="row"> <h3 class="page-header">公共链接网址&nbsp;&nbsp;</h3></div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-horizontal" >
			    <div class="form-group">
			        <label class="col-sm-3 control-label">在线报修网址：</label>
			        <div class="col-sm-4">
			        	<div  class="link_text">{:C('site_url')}/Wap/Fix/index.html</div>
			        </div>
			    </div>
		    </div>
		    <div class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label" >在线缴费网址：</label>
			        <div class="col-sm-4">
			        	<div  class="link_text">{:C('site_url')}/Wap/Payment/index.html</div>
			        </div>
			    </div>
		    </div>
		    <div class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label" >装修申请网址：</label>
			        <div class="col-sm-4">
			        	<div  class="link_text">{:C('site_url')}/Wap/Apply/index.html</div>
			        </div>
			    </div>
		    </div>
		    <div class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label" >特惠团网址：</label>
			        <div class="col-sm-4">
			        	<div  class="link_text">{:C('site_url')}/Wap/Preferential/index.html</div>
			        </div>
			    </div>
		    </div>
		    <div class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label" >租售服务网址：</label>
			        <div class="col-sm-4">
			        	<div class="link_text" >{:C('site_url')}/Wap/Rental/index.html</div>
			        </div>
			    </div>
		    </div>
            <div class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label" >预约服务网址：</label>
			        <div class="col-sm-4">
			        	<div class="link_text" >{:C('site_url')}/Wap/Booking/index.html</div>
			        </div>
			    </div>
		    </div>
		    <div class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label" >周边商家网址：</label>
			        <div class="col-sm-4">
			        	<div class="link_text" >{:C('site_url')}/Wap/Shop/index.html</div>
			        </div>
			    </div>
		    </div>
		    <div class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label" >个人中心网址：</label>
			        <div class="col-sm-4">
			        	<div class="link_text" >{:C('site_url')}/Wap/Person/index.html</div>
			        </div>
			    </div>
		    </div>
		     <div class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label" >讨论论坛网址：</label>
			        <div class="col-sm-4">
			        	<div class="link_text" >{:C('site_url')}/Wap/Forum/index.html</div>
			        </div>
			    </div>
		    </div>
		     <div class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label" >社区活动网址：</label>
			        <div class="col-sm-4">
			        	<div class="link_text" >{:C('site_url')}/Wap/Community/index.html</div>
			        </div>
			    </div>
		    </div>
		     <div class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label" >互动游戏网址：</label>
			        <div class="col-sm-4">
			        	<div class="link_text" >{:C('site_url')}/Wap/Community/game.html</div>
			        </div>
			    </div>
		    </div>
		    <div class="form-horizontal info col-sm-10" style="text-align:center;">
			</div>
		</div>
	</div>
</div>
<style>
	.form-group label{
		font-size:16px;
		font-weight:bold;
	}
	.link_text {
		height:40px;
		line-height:40px ;
		border:1px solid #d6e9c6;
		border-radius:5px;
		background-color:#dff0d8;
		color:#3c763d;
		padding-left:10px;
	}
</style>